<!DOCTYPE html>
<html>
	<head>
		<title>法国波尔多葡萄酒旅游门户网站</title>
		<meta charset="utf-8" />
		<link type="text/css" rel="stylesheet" href="../css/bootstrap.css" />
		<link type="text/css" rel="stylesheet" href="../css/datepiker.css" />
		<link type="text/css" rel="stylesheet" href="../css/style.css" />
		<link type="text/css" rel="stylesheet" href="../my.css" />
		<script type="text/javascript" src="../jquery.js"></script>
		<script type="text/javascript" src="../js/bootstrap.js"></script>
		<!--script type="text/javascript" src="../js/jquery.kwicks-1.5.1.js"></script-->
		<script type="text/javascript" src="../js/jquery.easing.1.3.js"></script>
		<script type="text/javascript" src="../js/bootstrap-datepicker.js"></script>
		
		<script type="text/javascript" src="../layout.js"></script>
	</head>
<body data-spy="scroll" data-target=".bs-docs-sidebar" data-twttr-rendered="true" screen_capture_injected="true">	
	<div class="container-fluid" style="min-width:980px;max-width:1440px;margin:0 auto;">
		<div class="row-fluid main">
			<div class="container" style="width:980px;">
				<ul class="custom-nav">
					<li><a href="../index.html">网站首页<span></span></a>

					</li>
					<li><a  href="travel.html">红酒之旅<span></span></a>
						<ol class="Mu">
							<li class="first"><a href="../SWF/travelSWF/meiduoke/flashcontainer.html">梅多克</a></li>
							<li><a href="../SWF/travelSWF/shengaimilong/flashcontainer.html">圣艾米隆</a></li>
							<li><a href="../SWF/travelSWF/gelafu/flashcontainer.html">格拉芙</a></li>
							<li><a href="../SWF/travelSWF/sudai/flashcontainer.html">苏玳</a></li>
							<li><a href="../SWF/travelSWF/bokendi/flashcontainer.html">勃艮第产区</a></li>
							<li><a href="../SWF/travelSWF/luwaer/flashcontainer.html">卢瓦尔产区</a></li>
							<li><a href="../SWF/travelSWF/xiangbin/flashcontainer.html">香槟产区</a></li>
						</ol>
					</li>
					<li><a href="hotel.html">娱乐休闲<span></span></a>
						<ol class="Mu">
							<li style="margin-left:26%;"><a href="../SWF/hotelSWF/pinjiukecheng/flashcontainer.html">品酒课程</a></li>
							<li><a href="../SWF/hotelSWF/hongjiuspa/flashcontainer.html">红酒spa</a></li>
							<li><a href="../SWF/hotelSWF/chuhaiyou/flashcontainer.html">出海游</a></li>
							<li><a href="../SWF/hotelSWF/jiuzhuangyongcan/flashcontainer.html">酒庄用餐</a></li>
							<li><a href="../SWF/hotelSWF/kouweiceshi/flashcontainer.html">口味测试</a></li>
							<li><a href="../SWF/hotelSWF/jiuzhuangzhusu/flashcontainer.html">酒庄住宿</a></li>
						</ol>
					</li>
					<li class="logo"><img src="../image/logo.jpg"></li>
					<li><a href="custom.html">定制行程<span></span></a></li>
					<li><a href="guest.html">品酒客<span></span></a></li>
					<li><a class="active" href="contact.html">联系我们<span></span></a></li>

				</ul>
			</div>
			<div  style="background:url(../image/bg/contact.jpg) no-repeat;">
				<div class="travelBG">
					<div class="contactCenter" style="margin-top:-60px;">
						<div class="tel">
							<p>电话:0033(0)6 31 76 86 49 / 0033(0)6 72 15 89 68</p>
							<p>电子邮件: lgc.bordeaux@hotmail.com</p>
							<p>QQ: 1764763030</p>
							<p>地址: 5，Rue de Condé 33081 BORDEAUX</p>
							<a href="custom.html" class="button"><strong>在线定制行程</strong></a>
						</div>
						<div class="teamwork">
							<ul>
								<li><img src="../image/hezuo1.png"></li>
								<li><img src="../image/hezuo2.png"></li>
								<li><img src="../image/hezuo3.png"></li>
								<li style="margin-top:8px;"><img src="../image/hezuo4.png"></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>