<!DOCTYPE html>
<html>
	<head>
		<title>法国波尔多葡萄酒旅游门户网站</title>
		<meta charset="utf-8" />
		<link type="text/css" rel="stylesheet" href="../css/bootstrap.css" />
		<link type="text/css" rel="stylesheet" href="../css/datepiker.css" />
		<link type="text/css" rel="stylesheet" href="../css/style.css" />
		<link type="text/css" rel="stylesheet" href="../my.css" />
		<style type="text/css">
			.relaxation li p{background:rgba(0,0,0,0.5);line-height:24px;color:#fff !important;}
		</style>
		<script type="text/javascript" src="../jquery.js"></script>
		<script type="text/javascript" src="../js/bootstrap.js"></script>
		<!--script type="text/javascript" src="../js/jquery.kwicks-1.5.1.js"></script-->
		<script type="text/javascript" src="../js/jquery.easing.1.3.js"></script>
		<script type="text/javascript" src="../js/bootstrap-datepicker.js"></script>
		
		<script type="text/javascript" src="../layout.js"></script>
		<script type="text/javascript">
			$(function(){
				var li = $(".relaxation2 li");
				window.setInterval(function(){
					li.each(function(){
						if($(this).width() > 100){
							$(this).find("img").css({"margin-left":"0px"})
							return;
						}
						var img=$(this).find("img")
						img.css({"margin-left":img.attr("data-center")})
					})
				},50)
			})
			
		</script>
	</head>
<body data-spy="scroll" data-target=".bs-docs-sidebar" data-twttr-rendered="true" screen_capture_injected="true">	
	<div class="container-fluid" style="min-width:980px;max-width:1440px;margin:0 auto;">
		<div class="row-fluid main">
			<div class="container" style="width:980px;">
				<ul class="custom-nav">
					<li><a href="../index.html">网站首页<span></span></a>

					</li>
					<li><a  href="travel.html">红酒之旅<span></span></a>
						<ol class="Mu">
							<li class="first"><a href="../SWF/travelSWF/meiduoke/flashcontainer.html">梅多克</a></li>
							<li><a href="../SWF/travelSWF/shengaimilong/flashcontainer.html">圣艾米隆</a></li>
							<li><a href="../SWF/travelSWF/gelafu/flashcontainer.html">格拉芙</a></li>
							<li><a href="../SWF/travelSWF/sudai/flashcontainer.html">苏玳</a></li>
							<li><a href="../SWF/travelSWF/bokendi/flashcontainer.html">勃艮第产区</a></li>
							<li><a href="../SWF/travelSWF/luwaer/flashcontainer.html">卢瓦尔产区</a></li>
							<li><a href="../SWF/travelSWF/xiangbin/flashcontainer.html">香槟产区</a></li>
						</ol>
					</li>
					<li><a class="active" href="hotel.html">娱乐休闲<span></span></a>
						<ol class="Mu">
							<li style="margin-left:26%;"><a href="../SWF/hotelSWF/pinjiukecheng/flashcontainer.html">品酒课程</a></li>
							<li><a href="../SWF/hotelSWF/hongjiuspa/flashcontainer.html">红酒spa</a></li>
							<li><a href="../SWF/hotelSWF/chuhaiyou/flashcontainer.html">出海游</a></li>
							<li><a href="../SWF/hotelSWF/jiuzhuangyongcan/flashcontainer.html">酒庄用餐</a></li>
							<li><a href="../SWF/hotelSWF/kouweiceshi/flashcontainer.html">口味测试</a></li>
							<li><a href="../SWF/hotelSWF/jiuzhuangzhusu/flashcontainer.html">酒庄住宿</a></li>
						</ol>
					</li>
					<li class="logo"><img src="../image/logo.jpg"></li>
					<li><a href="custom.html">定制行程<span></span></a></li>
					<li><a href="guest.html">品酒客<span></span></a></li>
					<li><a href="contact.html">联系我们<span></span></a></li>

				</ul>
			</div>
			<div  style="background:url(../image/bg/hotel.jpg) no-repeat;">
				<div class="travelBG">
					<ul class="relaxation relaxation2 travel-list nav" style="margin-left: -216px;">
						<li>
							<a href="../SWF/hotelSWF/pinjiukecheng/flashcontainer.html"><img style="margin-left:-415px" data-center="-415px" src="../image/娱乐休闲/品酒课程2.jpg"></a>
							<p style="color:#000100;">品酒课程</p>
						</li>
						<li>
							<a href="../SWF/hotelSWF/hongjiuspa/flashcontainer.html"><img style="margin-left:-478px" data-center="-478px" src="../image/娱乐休闲/红酒spa2.jpg"></a>
							<p style="color:#74634f;">红酒spa</p>
						</li>
						<li>
							<a href="../SWF/hotelSWF/chuhaiyou/flashcontainer.html"><img style="margin-left:-449px" data-center="-449px" src="../image/娱乐休闲/出海游2.jpg"></a>
							<p style="color:#2f4c12;">出海游</p>
						</li>
						
						<li>
							<a href="../SWF/hotelSWF/jiuzhuangyongcan/flashcontainer.html"><img style="margin-left:-396px" data-center="-396px" src="../image/娱乐休闲/酒庄用餐2.jpg"></a>
							<p style="color:#170908;">酒庄用餐</p>
						</li>
						<li>
							<a href="../SWF/hotelSWF/kouweiceshi/flashcontainer.html"><img style="margin-left:-469px" data-center="-469px" src="../image/娱乐休闲/口味测试2.jpg"></a>
							<p style="color:#f1dc41;">口味测试</p>
						</li>
						<li>
							<a href="../SWF/hotelSWF/jiudianzhusu/flashcontainer.html"><img style="margin-left:-586px" data-center="-586px" src="../image/娱乐休闲/酒店住宿2.jpg"></a>
							<p style="color:#a48569;">酒店住宿</p>
						</li>
					</ul>
					<!-- <ul id="accordion-slider" class="travel-list nav" style="width:900px;">
						<li>
							<a href="javascript:void(0);"><img src="../image/娱乐休闲/品酒课程.jpg"></a>
							<p><strong style="color:#000100;">品酒课程</strong></p>
						</li>
						<li>
							<a href="javascript:void(0);"><img src="../image/娱乐休闲/红酒spa.jpg"></a>
							<p><strong style="color:#74634f;">红酒spa</strong></p>
						</li>
						<li>
							<a href="javascript:void(0);"><img src="../image/娱乐休闲/出海游.jpg"></a>
							<p><strong style="color:#2f4c12;">出海游</strong></p>
						</li>
						
						<li>
							<a href="javascript:void(0);"><img src="../image/娱乐休闲/酒店住宿.jpg"></a>
							<p><strong style="color:#170908;">酒庄用餐</strong></p>
						</li>
						<li>
							<a href="javascript:void(0);"><img src="../image/娱乐休闲/酒庄用餐.jpg"></a>
							<p><strong style="color:#f1dc41;">口味测试</strong></p>
						</li>
						<li>
							<a href="javascript:void(0);"><img src="../image/娱乐休闲/口味测试.jpg"></a>
							<p><strong style="color:#a48569;">酒店住宿</strong></p>
						</li>
					</ul> -->
				</div>
			</div>
		</div>
	</div>
</body>
</html>